<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>
<body>
    <form>
        Enter Email ID to get password reset link<br>
        Email: <input type="email" id="email">
        <button type="submit" id="sbtbtn">Send Email</button>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script>
      
      const sbtbtn = document.getElementById('sbtbtn');
   
   sbtbtn.addEventListener('click', async(e) => {
       try{
       e.preventDefault();
       const email = document.getElementById('email').value;
       console.log(email);
       const token = localStorage.getItem('token');
       const res = await axios.get(`http://3.111.32.89/forgetPassword/getUUID`,{ headers: { "Authorization": token }});
       const uuid = res.data.uuid;
       const link = `http://3.111.32.89/password/resetpassword/${uuid}`;

       const obj = {email:email, link:link};
       const resp = await axios.post(`http://3.111.32.89/password/forgotpassword`,obj);
       alert('Password reset link sent to email');
       console.log(resp.data);
       }
       catch(err){
           console.log(err);
       }
   })

</script>
</html>