<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Password</title>
</head>
<body>
    <form onsubmit="resetpassword(event)">
        Enter Password: <input type="text" id="password">
        <button type="submit" id="sbtbtn">Reset Password</button>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script>
async function resetpassword(e){
    try{
    e.preventDefault();
    const password = document.getElementById('password').value;
    const token = localStorage.getItem('token');
    const res = axios.post('http://3.109.55.181:3000/resetPassword', {password:password},{ headers: { "Authorization": token }});
    console.log(res);
    }
    catch(err){
        console.log(err);
    }
}
</script>
</html>